doctype 5
html
  head
    title= title
    link(rel="shortcut icon", href="/images/gamefox_icon.png")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/wrapper.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    script(src='javascripts/jquery-1.8.3.min.js')

  body
    #box
      #header
        #nav
          ol
          
            #li_logo
              li
                a(href="/")
                  img(src='/images/gamefox_logo.png', height=70, width=300)
            #options
              li#search
                form(method='get', class='cool_outline1', id='searchForm')
                  input(type='text', name='search',placeholder='search', class='cool_outline1')
              #options_list(class="cool_outline2")
                li
                  a(href='/home') Home
                li 
                  a(href='/guilds') Guilds
                li
                  a(href='/user/friend') Users
                li
                  a(href='/ask') Q/A
      #login_signup
        #mainArea_Blog('style='margin:20px;')
          br
          p(style='font-size: 25px;margin-top:70px; margin-bottom:200px;') 'You can contact the developers here:<br><br>Jared Wright - email: jawerty210@gmail.com<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- Jared's personal website is <a style='text-decoration:none;color:#006EFF;' href=\'http://wrightdev.herokuapp.com'>here</a>

        
      #footer
        p Copyright &copy Gamefox #{+new Date().getFullYear()}
        br
        a(href='/home') Blog
        |
        a(href='http://github.com/jawerty') Github
        |
        a(href='/home') About
        |
        a(href='/home/contact') Contact
        br
        br
        a(href="https://twitter.com/Jawerty", class="twitter-follow-button", data-show-count="false", data-size="large") Follow @Jawerty
        script(type='text/javascript') !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");