extends layout
block Content
  #login_signup
    #mainArea('style='margin:20px;float:left')
      img(height=100, width=320, src='/images/pagefly_contact.png')
      br
      br
      p(style='margin-left: 2%;font-size: 25px; margin-bottom:5%;') 'You can contact the developers here:<br><br>Jared Wright - email: jawerty210@gmail.com<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- Jared's personal website is <a style='text-decoration:none;color:#006EFF;' href=\'http://wrightdev.herokuapp.com'>here</a>
