extends layout
block Content
  #login_signup
    #mainArea('style='margin:20px;float:left')
      img(height=100, width=320, src='/images/ninjapages_contact.png')
      br
      br
      p(style='margin-left: 2%;font-size: 25px;') You can contact the developers here:<br><br>Jared Wright<br><p style='margin-left:4%;margin-top:1%'>Email: jawerty210@gmail.com<br>Website: <a style='text-decoration:none;color:#00B4CC;font-size: 90%;' href='http://wrightdev.herokuapp.com'>http://wrightdev.herokuapp.com</a></p>
