extends layout 
block Content
  #container
    #edit_profile
      form(autocomplete='off', method='post')
        h1 Edit Profile Info
        p #{failure}
        input(type='text', name='newemail', class='form_text',placeholder='New Email')br
        input(type='password', name='newpass',class='form_text', placeholder='New Password')br
        input(type='password', name='newpassconfirm',class='form_text', placeholder='New Password Confirm')br
        textarea(id='bio', name='bio', placeholder='Insert Bio')br
        input(type='text', name='website', class='form_text',placeholder='Personal Website')br
        input(type='submit', name='submitEdit', class='form_button', value='Edit')