
extends layout
block Content
  #login_signup
    br
    #mainArea_blog(style='text-align:left;')
           
      p(style='margin-left: 2%;') Ninjapages is a website where users can quickly develop and deploy HTML5 websites in the cloud, whether on our mobile app, on this website or simply on your local machine. Ninjapages is currently in its alpha stage. Contact us <a href='/contact' style='font-size: 90%;text-decoration:none;color:#00B4CC;'>here</a> if you'd like to either contribute to the project, or simply ask us question. 
      br
      p(style='margin-left: 2%;') Github: 
      a(href='http://github.com/jawerty', style='text-decoration:none;color:#00B4CC;margin-left: 2%;') http://github.com/jawerty/ninjapages
    #login_area
      form(method='post', id='login_form')
        table
          tr
            img(src='/images/ninjapages_login.png', height=80, width=210, style='margin-left:12px;')br
            br
            p #{failure1}
            br
            input(type='text', name='username', class='form_text', placeholder='username')br
            input(type='password', name='password', class='form_text', placeholder='password')br
            #loginnlabel(style='margin: 0 auto;')
              #subbtn(style='float:left;margin-left:22.4%;margin-top:2%')
                input(type='submit', name='submitLogin', class='form_button', value='Log In')
              #labellogin(style='float:right;margin-top:2%;margin-right:23%;font-size:160%;font-family:verdana;color:#505050')
                label Haven't signed up <br>  yet? Signup <a href='/signup'>here</a>
        
    
   