extends layout
block Content
  #login_signup
    table
      tr
        th
          td
            #login_area
              form(method='post', id='login_form')
                table
                  tr
                    img(src='/images/pagefly_login.png', height=80, width=210, style='margin-left:12px;')br
                    p #{failure1}
                    br
                    input(type='text', name='username', class='form_text', placeholder='username')br
                    input(type='password', name='password', class='form_text', placeholder='password')br
                #subbtn(style='float:left;margin-top:2%')
                  input(type='submit', name='submitLogin', class='form_button', value='Log In')
                #labellogin(style='float:left;margin-top:2%;margin-left:27%;font-size:100%;')
                  label Haven't signed up <br>  yet? Signup <a href='/signup'>here</a>
        th
          #mainArea_blog(style='margin-left:20px;text-align:left;')
            img(src='/images/pagefly_blog.png', height=70, width=200)
            br
            br 
            p(style='margin-left: 2%;') Pagefly is a website where users can quickly develop and deploy HTML5 websites in the cloud, whether on our mobile app, on this website or simply on your local machine. Pagefly is currently in its alpha stage. Contact us <a href='/contact' style='text-decoration:none;color:#006EFF;'>here</a> if you'd like to either contribute to the project, or simply ask us question. 
            br
            p(style='margin-left: 2%;') Github: 
            a(href='http://github.com/jawerty', style='text-decoration:none;color:#006EFF;margin-left: 2%;') http://github.com/jawerty
    br
    #mainArea(style='margin:10px;margin-top:2%;padding: 5%;padding-bottom:13%;width: 85%;margin: 0 auto;')
      img(src='/images/pagefly_top_pages.png', width=320, height=60)
      br
      p(style='margin-left:2%') The top pages widget is currently in production. To see the overall progress of the Pagefly project, see the Github below.
        