doctype 5
html
  head
    title= title
    link(rel='image_src', href='http://gamefox.herokuapp.com/images/pagefly_icon.png')
    link(rel="shortcut icon", href="/images/pagefly_icon.png")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/wrapper.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')

    script(src='javascripts/jquery-1.8.3.min.js')

  body
    #box
      #header
        #nav
          ol
          
            #li_logo
              li
                a(href="/")
                  img(src='/images/pagefly_logo.png', height=50, width=240)
            #options
              li#search
                form(method='get', class='cool_outline1', id='searchForm')
                  input(type='text', name='search',placeholder='search', class='cool_outline1', id='search_text')
              #options_list(class="cool_outline2")
                li
                  a(href='/') Home
                li
                  a(href='/') Pages
                li
                  a(href='/') Q/A
                li
                  a(href='/signup') Signup

                

      
      #sub_nav
        ol
          if (typeof username != 'undefined')
            li

              a(href='/logout') Logout
          if (typeof username != 'undefined')

            li Hello, <label style='color:#006EFF'>#{username}</label>
            
          else
            li Welcome to Pagefly

          
      block Content 
      #footer
        br
        p Copyright &copy Pagefly #{+new Date().getFullYear()}
        br
        a(href='/') Blog
        |
        a(href='http://github.com/jawerty') Github
        |
        a(href='/') About
        |
        a(href='/contact') Contact
        br
        br
        a(href="https://twitter.com/Jawerty", class="twitter-follow-button", data-show-count="false", data-size="large") Follow @Jawerty
        script(type='text/javascript') !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");