extends layout
block Content
  #container
    br
    #description(style='text-align:left;')
      p(style='margin-left: 2%;') Ninjapages is a website where users can quickly develop and host HTML5 websites in the cloud, whether on the mobile app (coming soon), this website or on your local machine. Ninjapages is currently in its alpha stage, but it's open source and fun to play with. Contact <a href='/contact' style='font-size: 100%;text-decoration:none;color:#00B4CC;'>here</a> if you'd like to either contribute to the project, or simply ask a question. 
      br
      p(style='margin-left: 2%;') Github: 
      a(href='http://github.com/jawerty', style='text-decoration:none;color:#00B4CC;margin-left: 2%;') http://github.com/jawerty/ninjapages
    #login_area(style='margin-bottom: 20%;')
      form(method='post', id='login_form')
        table
          tr
            img(src='/images/ninjapages_login.png', height=80, width=210, style='margin-left:12px;')br
            br
            p #{failure1}
            br
            input(type='text', name='username', class='form_text', placeholder='username')br
            input(type='password', name='password', class='form_text', placeholder='password')br
            #loginnlabel(style='margin: 0 auto;')
              #subbtn(style='float:left;margin-left:22.4%;margin-top:2%')
                input(type='submit', name='submitLogin', class='form_button', value='Log In')
              #labellogin(style='float:right;margin-top:3%;margin-right:25%;font-size:120%;color:#505050')
                label Haven't signed up <br>  yet? Signup <a style='font-size:100%;' href='/signup'>here</a>
        
    
   