extends layout
block Content
  #container(style='text-align:center;padding-top:100px')
    label(style='font-family:verdana;font-size:400%;color:#00B4CC') Success
    br
    img(src='/images/ninjapages_icon.png', height=300, width=30000px')
    br
    br
    
    a(href='/',id='home_link') Go To Homepage
