doctype 5
html
  head
    title= title
    link(rel="shortcut icon", href="/images/gamefox_icon.png")
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/wrapper.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='image_src', href='http://gamefox.herokuapp.com/images/gamefox_logo.png')

    script(src='/javascripts/jquery-1.8.3.min.js')

  body
    #box
      #header
        #nav
          ol
          
            #li_logo
              li
                a(href="/")
                  img(src='/images/gamefox_logo.png', height=70, width=300)
            #options
              li#search
                form(method='get', class='cool_outline1', id='searchForm')
                  input(type='text', name='search',placeholder='search', class='cool_outline1')
              #options_list(class="cool_outline2")
                li
                  a(href='/home') Home
                li 
                  a(href='/guilds') Guilds
                li
                  a(href='/user/friend') Users
                li
                  a(href='/ask') Q/A
      #wrapper(style='text-align:center;padding-top:100px')
        label(style='color:#505050; font-family:verdana;font-size: 150px;') Welcome To&nbsp
        img(src='/images/gamefox_logo_text.png', height=150, width=400px')
        br
        br
        a(href='/',id='home_link') Go To Homepage
      #footer
        p Copyright &copy Gamefox #{+new Date().getFullYear()}
        br
        a(href='/home') Blog
        |
        a(href='http://github.com/jawerty') Github
        |
        a(href='/home') About
        |
        a(href='/home/contact') Contact
        br
        br
        a(href="https://twitter.com/Jawerty", class="twitter-follow-button", data-show-count="false", data-size="large") Follow @Jawerty
        script(type='text/javascript') !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");