extends layout
block Content
  #wrapper(style='text-align:center;padding-top:100px')
    label(style='color:#505050; font-family:verdana;font-size: 150px;') Welcome To&nbsp
    img(src='/images/pagefly_logo.png', height=150, width=400px')
    br
    br
    a(href='/',id='home_link') Go To Homepage
