#footer {
  position: relative;
  margin: 0 auto;
  height: 150px;
  padding: 0;
  text-align: center;
  font-size: 16px;
  width:100%;
  background-color: #343838;
   color: #444;
  min-width: 953px;
  padding-top: 10px;
  box-shadow:  inset 0 4px 4px -1px #eee;
}
#footer p{
  color: #aaa;
}
#footer a{
	text-decoration:none;
	color: #00B4CC;
  margin: 10px;
  font-size: 20px;
}
#footer_content {
}
#footer_links {
  margin-top: 5px;
}
.twitter-follow-button{

color: #606060;
}