#header{
width: 100%;
float: left;
}
#nav {
  padding-top: 1%;
  padding-bottom: 1%;
  min-width: 100%;
  max-width: 100%;
  
  background: #343838;
    border-bottom: 1px solid #B1B1B1;
  display: block;
  text-align: center;
}
#nav ol {

  text-align: center;
  padding: 0px;
  border-radius: 1px;
  
  
  margin: 0 auto;
  top: 0%;
      display: inline-block;
    vertical-align: middle;

 }
#nav ol li {
  margin: 0px;
  margin-right: 0px;
  height: 50px;  
  border-radius: 1px;
  font-size:100%;
  color: #F7F7F7;
  text-align: center;
  padding-left: 5px; 
  padding-right: 5px;
  font-family:sans-serif;

  vertical-align:middle;
  display:table-cell;
 
}


#nav li:hover a{
  color: #00B4CC;
}
#nav a{
  text-decoration: none;
  color: #F7F7F7;
  font-family: verdana;
  font-weight: bold;
  font-size: 110%;

}
#nav a:hover{
}




#li_logo{
  background-color: none;
  float:left;

}


#options{
  
  float: right;

}
#options_list{
  float: right;


}
#search {
  vertical-align: middle;
  float: left;
}
#searchForm{
  margin-top: 4%;
}
#search_text{
  width: 90%;
}

#sub_nav a{
  text-decoration: none;
  color: #00B4CC;
  font-family: verdana;
  font-weight: bold;
  font-size: 90%;

}
.cool_outline1 {

outline: none;
color: #777;
border-radius: 7px;
font-size: 99%;
padding: 2.7%;
box-shadow: inset 3px 3px 3px 3px #eee;
font-family:verdana;

}
.cool_outline2 {

outline: none;
color: #777;
border-radius: 7px;
box-shadow: inset 3px 3px 3px 3px #eee;
font-family:verdana;

}


