#wrapper {
	background-color: #F7F7F7;
  min-width: 950px;
  max-width: 950px;
	height: 100%;
	/*min-width: 1125px;*/
	/*max-width: 1125px;*/
	
	margin: 0 auto;
	overflow:auto;

}
#wrapper::-webkit-scrollbar {
    width: 15px;
    
}
 
#wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: #E9E9E9;
}
 
#wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px #FbFbFb; 
    background-color: #00B4CC;

}
#description{
	background-color: #FbFbFb;
	padding: 3%;
	width: 90%;
	margin-top: 5%;
	margin-right: 3%;
	margin-left: 3%;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid #E0E0E0;
	box-shadow: inset 1px 1px 1px 2px #eee;
}

#sideArea{
	min-width: 0px;
	max-width: 1000px;
	width: 30%;
	border-right: 2px solid #B1B1B1;
	float:left;
	padding: 10px;
	padding-left: 30px;
	padding-right: 50px;
	padding-bottom: 20px;
}
#sideProfile{
	padding: 10px;
	margin-top: 35px;
	width: 100%;
	height: 200px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	background-color: #FcFcFc;
	box-shadow: inset 3px 3px 3px 3px #eee;


}
#sideUpdates{
	padding: 10px;
	margin-top: 35px;
	width: 100%;
	height: 200px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	background-color: #FcFcFc;
	box-shadow: inset 3px 3px 3px 3px #eee;


}
#sideFriends{
	padding: 10px;
	margin-top: 35px;
	width: 100%;
	height: 200px;
	border: 1px solid #D2D2D2;
	border-radius: 5px;
	background-color: #FcFcFc;
	box-shadow: inset 3px 3px 3px 3px #eee;

}

#container{
  background-color: #F7F7F7;
  min-width: 950px;
  max-width: 950px;
  overflow:hidden;
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  margin: 0 auto;
  left:50%;
  padding-bottom: 2%;
  box-shadow:  inset 0 4px 2px -2px #eee;


}
#container h1{
  color:#343838;
  font-size: 150%;
  font-family: verdana;
  margin: 3%;
}
#container::-webkit-scrollbar {
    width: 1%;
    
}
 
#container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1% rgba(0,0,0,0.3); 
    background-color: #E9E9E9;
}
 
#container::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1% #FbFbFb; 
    background-color: #00B4CC;

}
#login_area{

}
#login_form{
	margin: 0 auto;
	padding-left: 6%;
	padding-top: 10%;
	padding:5%;
	width: 80%;
	font-size: 120%;
	text-align: center;

}
#labellogin a{
  text-decoration: none;
  color: #00B4CC;
  font-family: verdana;
  font-weight: bold;
  font-size: 120%;
}
#labellogin a:hover{
	text-decoration: underline;
}
.form_text{
	margin: 3%;
	width: 50%;
	height: 100%;
	border-radius: 3px;
	border: 2px solid #C2C2C2;
	font-size: 120%;
	box-shadow: inset 3px 3px 3px 3px #eee;
	outline-color: #00B4CC;
	outline-width: 2px;
	padding: 1%;
	color: #505050;

}
#scriptArea:-moz-placeholder{
	color: #bbb;

}
#scriptTitle:-moz-placeholder{
	color:#bbb;

}
.form_text:-moz-placeholder{
	color: #bbb;
}
::-webkit-input-placeholder {
    color:    #bbb;
}
textarea:-moz-placeholder, input:-moz-placeholder {
    color:    #bbb;
}
:-ms-input-placeholder {
        color:    #bbb;
}

.form_button{
    font-family: verdana;
	width: 140px;
	height: 150%;
	color: #fff;
	padding: 10%;
	font-size: 140%;
	border: 1px solid #C2C2C2;
	padding:  6px;
	border-radius: 5px;
	background-color: #00B4CC;
	margin: 10px;
}

.form_text_signup{
	margin: 2.5%;
	width: 40%;
	height: 100%;
	border-radius: 5px;
	border: 2px solid #C2C2C2;
	font-size: 120%;
	box-shadow: inset 1px 1px 1px 2px #eee;
	outline-color: #00B4CC;
	outline-width: 1%;
	padding: 1%;
	color: #505050;

}
.form_text_signup:-moz-placeholder{
	color: #bbb;
}
#signup_form{
	text-align: center;
	margin: 0 auto;
	padding: 1%;
}
#table_signup{

	margin: 0 auto;
}
#signup_options{
	height: 100%;
	width: 100%;
	margin: 0 auto;

}
#optional_signup{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

#home_link{
	text-decoration:none;
	color:#00B4CC;
	font-size:120%;
}
#home_link:hover{
	text-decoration:underline; 
}

#user_profile{
	margin-left:3%;
	padding-right:2%;
	width:40%;
	height:100%;
}
#user_profile label{
	font-family: sans-serif;
	color:#505050;
	font-size: 120%;
}
#scriptForm{
	margin: 5%;
}
#scriptTitle{
	width:40%;
	height: 20px;
	border-radius: 3px;
	border: 2px solid #C2C2C2;
	font-size: 120%;
	box-shadow: inset 3px 3px 3px 3px #eee;
	outline-width: 0px;
	padding: 1%;
	color: #505050;
	font-family: sans-serif;
}
#scriptArea{
	width: 100%;
	height: 200px;
	border-radius: 5px;
	border: 2px solid #C2C2C2;
	font-size: 100%;
	box-shadow: inset 3px 3px 3px 3px #eee;
	padding: 1%;
	color: #505050;
	resize: none;
	font-family: sans-serif;
}


#edit_profile{
	text-align: center;
	margin: 0 auto;
	padding: 1%;
}
#bio{
	width: 50%;
	height: 100px;
	border-radius: 5px;
	border: 1px solid #C2C2C2;
	font-size: 150%;
	box-shadow: inset 3px 3px 3px 3px #eee;
	outline-color: #00B4CC;
	outline-width: 1%;
	padding: 1%;
	color: #505050;
	resize: none;
	font-family: sans-serif;
}
#bio:-moz-placeholder{
	color:#bbb;
}

#html_upload{
	border: 1px solid #d2d2d2;
	border-radius: 8px;
	margin-bottom: 1.4%;
	margin-left: 2%;

}
#fileSubmit{
	font-size:150%;
	padding: 15px;
	color:#343838;
	font-family:verdana;
	text-decoration:none;
	font-weight: bold;
	margin-left:5%

}
#fileSubmit:hover{
	color:#00B4CC;

}
